@model List<Usuario>

@{
    ViewData["Title"] = "Index";
    DateTime dataHora = DateTime.Now;
}

<h2>Gerenciamento de Usuários</h2>

<a class="btn btn-primary" asp-action="Cadastrar">Cadastrar Usuário</a>
<br />

<table style="margin-top:15px;margin-bottom:15px" class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>E-mail</th>
            <th>Criado em</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Usuario item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Cpf</td>
                <td>@item.Email</td>
                <td>@item.CriadoEm</td>
                <td>
                    <a asp-action="DetalheEndereco" asp-route-id="@item.Endereco.EnderecoId"
                       class="btn btn-outline-info">Ver Endereço</a>
                </td>
                <td>
                    <a asp-action="Remover" asp-route-id="@item.Id"
                       class="btn btn-outline-danger">Remover</a>
                </td>
                <td>
                    <a asp-action="Alterar" asp-route-id="@item.Id"
                       class="btn btn-outline-info">Alterar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <b>Dados atualizados em: </b> @dataHora
</p>