@model Movimento

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Cadastrar" method="post">
    <fieldset>
        <legend>Movimentação de Estoque</legend>
        <div asp-validation-summary="ModelOnly" class="alert alert-dismissible alert-warning"></div>

        <div class="form-group" id="Produto">
            <label asp-for="Produto"></label>
            <select asp-items="@ViewBag.Produtos" class="form-control" name="drpProdutos" id="drpProdutos">
                <option value="value">-- Selecione --</option>
            </select>
        </div>

        <div class="form-group" id="Categoria">
            <label asp-for="Categoria"></label>
            <input type="text" disabled class="form-control" id="categoriaSelected" />
        </div>

        <div class="form-group" id="Fornecedor">
            <label asp-for="Fornecedor"></label>
            <input type="text" disabled class="form-control" id="fornecedorSelected" />
        </div>

        <div class="form-group" id="TipoMovimento">
            <label asp-for="TipoMovimento"></label>
            <select asp-items="@ViewBag.TipoMovimento" class="form-control" name="drpTipoMovimento" id="drpTipoMovimento">
                <option value="value">-- Selecione --</option>
            </select>
        </div>

        <span id="inputQuantidade" name="inputQuantidade" class="text-danger"></span>
        <div class="form-group" id="Quantidade">
            <label asp-for="Quantidade"></label>
            <input type="number" asp-for="Quantidade" class="form-control" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>

        <div class="form-group" id="EnderecoEstoque">
            <label asp-for="EnderecoEstoque"></label>
            <select asp-items="@ViewBag.EnderecoEstoque" class="form-control" name="drpEnderecoEstoque" id="drpEnderecoEstoque">
                <option value="value">-- Selecione --</option>
            </select>
        </div>

        <div>
            <button type="submit" value="Lançar Movimento" class="btn btn-primary mb-2">Lançar Movimento</button>
            <a href="~/Movimento/Index" class="btn btn-primary mb-2">Voltar</a>
        </div>
    </fieldset>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#drpProdutos').on('change', function () {
            var produtoId = $('#drpProdutos option:selected').val();
            //alert(produtoId);
            $.ajax({
                type: 'GET',
                data: { produtoId: parseInt(produtoId) },
                dataType: "json",
                url: '@Url.Action("LoadCategoria", "Movimento")',
                success: function (myJsonCategoria) {
                    document.getElementById("categoriaSelected").value = myJsonCategoria.nome;
                }
            });
            $.ajax({
                type: 'GET',
                data: { produtoId: parseInt(produtoId) },
                dataType: "json",
                url: '@Url.Action("LoadFornecedor", "Movimento")',
                success: function (myJsonFornecedor) {
                    document.getElementById("fornecedorSelected").value = myJsonFornecedor.nome;
                }
            });
        });
        $('#drpTipoMovimento').on('change', function () {
            var TipoMovimento = $('#drpTipoMovimento option:selected').val();
            switch (TipoMovimento) {
                case "Entrada":
                    break;
                case "Saida":
                    var produtoId = $('#drpProdutos option:selected').val();
                    $.ajax({
                        type: 'GET',
                        data: { produtoId: parseInt(produtoId) },
                        dataType: "json",
                        url: '@Url.Action("BuscarEstoquePorProduto", "Movimento")',
                        success: function (myJsonProdutoEstoque) {
                            var preencheLocalizacao = '<option value="' + myJsonProdutoEstoque.id + '">' + myJsonProdutoEstoque.localizacao + '</option> ';
                            $("#drpEnderecoEstoque").html(preencheLocalizacao); 

                            if (myJsonProdutoEstoque.id != null) {
                                document.getElementById('inputQuantidade').innerHTML = 'Produto possui '+ myJsonProdutoEstoque.quantidade + ' unidades em estoque.';
                            } else {
                                document.getElementById('inputQuantidade').innerHTML = 'Produto sem estoque!';
                                $("#drpEnderecoEstoque").html('<option value="-1"></option>');
                            }
                        }
                    });
                    document.getElementById('drpEnderecoEstoque').setAttribute('readonly', true);
                    break;
                case "Devolucao":
                    document.getElementById('drpEnderecoEstoque').setAttribute('disabled', true);
                    break;
                default:
                    break;
            }
    });
});
</script>